@font-face {
  font-family: 'Gilroy 400';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy 500';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy 800';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Gilroy 800';
  font-style: normal;
  font-weight: 800;
  min-width: 320px;
  color: #222222;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1190px !important;
}

.wrapper {
  position: relative;
}

.button {
  position: relative;
  border-radius: 0;
  border: 1px solid rgba(34, 34, 34, 0.3);
}

.button::before {
  content: "";
  position: absolute;
  top: 19px;
  left: -10px;
  width: 20px;
  height: 1px;
  background-color: #222222;
}

.button:hover, .button:active, .button:focus {
  border: 1px solid #222222;
}

.black-font {
  color: #222222;
  text-shadow: none;
}

.flex {
  display: flex !important;
}

.works-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.primary-theme:hover, .primary-theme:active, .primary-theme:focus {
  border-bottom: 1.5px solid #222222;
  color: #222222;
}

.dark-theme {
  color: rgba(255, 255, 255, 0.7);
}

.dark-theme:hover, .dark-theme:active, .dark-theme:focus {
  border-bottom: 1.5px solid #ffffff !important;
  color: #ffffff !important;
}

.dark-theme svg path {
  fill: #ffffff;
}

.primary-title {
  color: #ffffff;
  text-shadow: -0 -2px 0 #222222,0 -2px 0 #222222, -0 2px 0 #222222, 0 2px 0 #222222,-2px -0 0 #222222,2px -0 0 #222222,-2px 0 0 #222222,2px 0 0 #222222,-1px -2px 0 #222222,1px -2px 0 #222222,-1px 2px 0 #222222,1px 2px 0 #222222,-2px -1px 0 #222222,2px -1px 0 #222222,-2px 1px 0 #222222,2px 1px 0 #222222;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 86px;
  border-bottom: 1px solid #EBEBEB;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(34, 34, 34, 0.7);
  cursor: pointer;
}

.navigation__list__item {
  display: flex;
  align-items: center;
  min-height: 86px;
}

.navigation__icon {
  width: 86px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navigation__icon:hover svg path {
  fill: #C6876D;
}

.navigation__icon__map {
  border-right: 1px solid #EBEBEB;
}

.navigation__icon__logo:hover svg {
  width: 35px;
  height: 35px;
}

.navigation__icon__call {
  border-left: 1px solid #EBEBEB;
}

.navigation__address, .navigation__call {
  display: none;
  position: absolute;
  top: 0;
  left: 86px;
  bottom: 0;
  right: 86px;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.navigation__address__title, .navigation__call__title {
  color: #C6876D;
}

.navigation__address__map, .navigation__call__map {
  position: relative;
  margin-right: 40px;
  font-size: 14px;
  line-height: 20px;
}

.navigation__address__map::after, .navigation__call__map::after {
  content: "";
  position: absolute;
  right: -20px;
  width: 1px;
  height: 20px;
  background-color: #EBEBEB;
}

.navigation__call__number {
  margin-right: 30px;
  font-size: 30px;
  line-height: 37px;
}

.navigation__call__button {
  width: 170px;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .navigation {
    justify-content: space-around;
  }
  .navigation__icon__map, .navigation__icon__call {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .navigation {
    min-height: 50px;
    height: 50px;
    max-width: 95%;
  }
  .navigation__icon__logo svg {
    width: 20px;
    height: 20px;
  }
  .navigation__list {
    max-width: 95%;
    min-width: 150px;
    justify-content: space-around;
    font-size: 11px;
    line-height: 15px;
  }
}

@media screen and (max-width: 430px) {
  .navigation__icon__logo {
    display: none;
  }
}

.basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
}

.basic__title {
  margin: auto;
  margin-bottom: 48px;
  width: 1000px;
  text-align: center;
  font-size: 64px;
  line-height: 72px;
}

.basic__button {
  width: 207px;
  margin-bottom: 84px;
}

.basic__works {
  position: relative;
  width: 100%;
  height: 345px;
  background: url(/image/BG-start.png);
  background-size: cover;
}

.basic__works__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 175px;
  margin-bottom: 25px;
}

.basic__works__item {
  width: 25%;
  min-height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.basic__works__icon {
  margin: auto;
}

@media screen and (max-width: 992px) {
  .basic__title {
    font-size: 50px;
    line-height: 60px;
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .basic__works__item {
    font-size: 11px;
    line-height: 15px;
  }
}

@media screen and (max-width: 576px) {
  .basic {
    padding-top: 35px;
  }
  .basic__title {
    font-size: 30px;
    line-height: 40px;
  }
  .basic__button {
    margin-bottom: 45px;
  }
  .basic__works {
    height: 545px;
  }
  .basic__works__list {
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .basic__works__item {
    width: 95%;
  }
}

.repair-services {
  display: none;
  background: url(/image/BG-repair-services.png);
}

.repair-services__color {
  background-color: #EB5757;
}

.types-of-jobs {
  display: none;
  background: url(/image/BG-types-of-jobs.png);
}

.types-of-jobs__color {
  background-color: #219653;
  left: 25%;
}

.interior-design {
  display: none;
  background: url(/image/BG-interior-design.png);
}

.interior-design__color {
  background-color: #2F80ED;
  left: 50%;
}

.renovation-of-premises {
  display: none;
  background: url(/image/BG-renovation-of-premises.png);
}

.renovation-of-premises__color {
  background-color: #9B51E0;
  left: 75%;
}

.hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
}

.hover__color {
  position: relative;
  width: 25%;
  height: calc( 100% - 85px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 45px 45px;
}

.hover__title {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 16px;
}

.hover__info {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 33px;
  text-align: center;
}

.hover__icon {
  transform: rotate(-90deg);
}

.examples__title {
  position: relative;
  font-size: 32px;
  line-height: 40px;
  margin-top: 135px;
  margin-bottom: 50px;
}

.examples__title::before {
  content: "";
  position: absolute;
  top: 19px;
  left: -80px;
  width: 40px;
  height: 1px;
  background-color: #222222;
}

.examples__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.examples__card {
  position: relative;
  justify-content: space-between;
  min-height: 270px;
  border: none;
  border-radius: 0;
  padding: 32px;
}

.examples__card::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.1);
}

.examples__card:hover, .examples__card:active, .examples__card:focus {
  cursor: pointer;
}

.examples__card:hover::before, .examples__card:active::before, .examples__card:focus::before {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.6);
}

.examples__card__title {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  z-index: 5;
}

.examples__card__1 {
  background: url(/image/card-1.png);
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.examples__card__2 {
  background: url(/image/card-2.png);
  background-size: cover;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.examples__card__3 {
  background: url(/image/card-3.png);
  background-size: cover;
}

.examples__card__4 {
  background: url(/image/card-4.png);
  background-size: cover;
}

.examples__card__5 {
  background: url(/image/card-5.png);
  background-size: cover;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 5;
}

.examples__card__6 {
  background: url(/image/card-6.png);
  background-size: cover;
}

.examples__card__7 {
  background: url(/image/card-7.png);
  background-size: cover;
}

.examples__card__8 {
  background: url(/image/card-8.png);
  background-size: cover;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}

.examples__card__info {
  display: flex;
  opacity: 0;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.examples__card__wrap {
  display: flex;
  flex-direction: column;
  z-index: 5;
  margin-right: 32px;
}

.examples__card__term, .examples__card__price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.examples__button {
  width: 185px;
  margin-top: 65px;
  margin-bottom: 135px;
}

@media screen and (max-width: 1200px) {
  .examples__title {
    text-align: center;
  }
  .examples__title::before {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .examples__title {
    margin-top: 40px;
  }
  .examples__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.footer__title {
  position: relative;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 50px;
}

.footer__title::before {
  content: "";
  position: absolute;
  top: 19px;
  left: -80px;
  width: 40px;
  height: 1px;
  background-color: #222222;
}

.footer__contacts {
  display: flex;
  flex-wrap: wrap;
}

.footer__contacts__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 48px;
}

.footer__contacts__name {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.footer__contacts__data {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  cursor: pointer;
}

.footer__social {
  font-size: 14px;
  line-height: 20px;
}

.footer__social__wrap {
  display: flex;
  width: 120px;
  justify-content: space-between;
  margin-top: 15px;
}

.footer__social__icon {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-color: #222222;
}

.footer__form {
  width: 360px;
  display: flex;
  padding: 0;
  flex-direction: column;
}

.footer__form__title {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.footer__form__name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 12px;
}

.footer__form__input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #909090;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 20px;
}

.footer__form__end {
  background: url(/image/footer-icon.svg) no-repeat 99% 1px;
  background-size: auto 90%;
  margin-bottom: 28px;
}

.footer__form__info {
  margin-bottom: 35px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 12px;
  color: #909090;
}

.footer__form__info a {
  color: #222222;
  border-bottom: 1px dashed #222222;
}

.footer__form__button {
  width: 270px;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 135px;
  border-top: 1.5px solid #222222;
}

.footer-copyright__info {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.footer-copyright__info__strong {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
}
/*# sourceMappingURL=style.css.map */