.examples

  &__title
    position: relative
    font-size: 32px
    line-height: 40px
    margin-top: 135px
    margin-bottom: 50px

    &::before
      content: ""
      position: absolute
      top: 19px
      left: -80px
      width: 40px
      height: 1px
      background-color: #222222

  &__wrapper
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(4, 1fr)
    grid-column-gap: 10px
    grid-row-gap: 10px

  &__card
    position: relative
    justify-content: space-between
    min-height: 270px
    border: none
    border-radius: 0
    padding: 32px

    &::before
      content: ''
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.1)

    &:hover,&:active,&:focus
      cursor: pointer

      &::before
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.6)

    &__title
      font-size: 20px
      line-height: 24px
      color: #ffffff
      z-index: 5

    &__1
      background: url(/image/card-1.png)
      background-size: cover
      grid-column-start: 1
      grid-column-end: 3
      grid-row-start: 1
      grid-row-end: 1

    &__2
      background: url(/image/card-2.png)
      background-size: cover
      grid-column-start: 3
      grid-column-end: 3
      grid-row-start: 1
      grid-row-end: 3

    &__3
      background: url(/image/card-3.png)
      background-size: cover

    &__4
      background: url(/image/card-4.png)
      background-size: cover

    &__5
      background: url(/image/card-5.png)
      background-size: cover
      grid-column-start: 1
      grid-column-end: 1
      grid-row-start: 3
      grid-row-end: 5

    &__6
      background: url(/image/card-6.png)
      background-size: cover

    &__7
      background: url(/image/card-7.png)
      background-size: cover

    &__8
      background: url(/image/card-8.png)
      background-size: cover
      grid-column-start: 2
      grid-column-end: 4
      grid-row-start: 4
      grid-row-end: 4

    &__info
      display: flex
      opacity: 0
      font-size: 14px
      line-height: 20px
      color: #ffffff

    &__wrap
      display: flex
      flex-direction: column
      z-index: 5
      margin-right: 32px

    &__term, &__price
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 500
      font-size: 10px
      line-height: 12px
      opacity: 0.7
      margin-bottom: 10px

  &__button
    width: 185px
    margin-top: 65px
    margin-bottom: 135px

@media screen and ( max-width: 1200px )
  .examples

    &__title
      text-align: center

      &::before
        display: none

@media screen and ( max-width: 576px )
  .examples

    &__title
      margin-top: 40px

    &__wrapper
      display: flex
      flex-direction: column
