.footer

  &__title
    position: relative
    font-size: 32px
    line-height: 40px
    margin-top: 135px
    margin-bottom: 50px

    &::before
      content: ""
      position: absolute
      top: 19px
      left: -80px
      width: 40px
      height: 1px
      background-color: #222222

  &__contacts

    &__name
      font-size: 14px
      line-height: 20px

    &__data
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 400
      font-size: 13px
      line-height: 24px

  &__social
    font-size: 14px
    line-height: 20px

    &__icon
      width: 30px
      height: 30px
      border-radius: 2px
      background-color: #222222

  &__form
    width: 360px
    display: flex
    flex-direction: column

    &__title
      font-size: 14px
      line-height: 20px

    &__name
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 500
      font-size: 9px
      line-height: 12px

    &__input
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 400
      font-size: 13px
      line-height: 24px
      color: #909090
      border-bottom: 1px solid #EBEBEB

    &__end
      background: url(/image/footer-icon.svg) no-repeat 90% 1px
      background-size: auto 90%

    &__info
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 500
      font-size: 9px
      line-height: 12px
      color: #909090

    &__info a
      color: #222222
      border-bottom: 1px dashed #222222
