.basic
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-top: 65px

  &__title
    margin: auto
    margin-bottom: 48px
    width: 1000px
    text-align: center
    font-size: 64px
    line-height: 72px

  &__button
    width: 207px
    margin-bottom: 84px

  &__works
    position: relative
    width: 100%
    height: 345px
    background: url(/image/BG-start.png)
    background-size: cover

    &__list
      display: flex
      align-items: center
      justify-content: space-between
      margin-top: 175px
      margin-bottom: 25px

    &__item
      width: 25%
      min-height: 85px
      display: flex
      align-items: center
      justify-content: center
      font-size: 20px
      line-height: 25px
      color: #ffffff
      border: 1px solid rgba(255, 255, 255, 0.3)
      cursor: pointer

    &__icon
      margin: auto

@media screen and ( max-width: 992px )
  .basic

    &__title
      font-size: 50px
      line-height: 60px
      width: 70%

@media screen and ( max-width: 768px )
  .basic

    &__works

      &__item
        font-size: 11px
        line-height: 15px

@media screen and ( max-width: 576px )
  .basic
    padding-top: 35px

    &__title
      font-size: 30px
      line-height: 40px

    &__button
      margin-bottom: 45px

    &__works
      height: 545px

      &__list
        flex-direction: column
        margin-top: 15px
        margin-bottom: 15px

      &__item
        width: 95%
