*
  box-sizing: border-box

body
  font-family: 'Gilroy 800'
  font-style: normal
  font-weight: 800
  min-width: 320px

a
  text-decoration: none

ul
  list-style-type: none
  padding: 0
  margin: 0

.wrapper
  position: relative

.button
  position: relative
  border-radius: 0
  border: 1px solid rgba(34, 34, 34, 0.3)

  &::before
    content: ""
    position: absolute
    top: 19px
    left: -10px
    width: 20px
    height: 1px
    background-color: #222222

  &:hover,&:active,&:focus
    border: 1px solid #222222

.flex
  display: flex !important

.works-icon
  display: flex
  align-items: center
  justify-content: center
  width: 40px
  height: 40px
  border: 1px solid rgba(255, 255, 255, 0.3)
  border-radius: 50%
  cursor: pointer

.primary-theme

  &:hover,&:active,&:focus
    border-bottom: 1.5px solid #222222
    color: #222222

.dark-theme
  color: rgba(255, 255, 255, 0.7)

  &:hover,&:active,&:focus
    border-bottom: 1.5px solid #ffffff !important
    color: #ffffff !important

.dark-theme svg path
  fill: #ffffff

.primary-title
  color: #ffffff
  text-shadow: -0 -2px 0 #222222,0 -2px 0 #222222, -0 2px 0 #222222, 0 2px 0 #222222,-2px -0 0 #222222,2px -0 0 #222222,-2px 0 0 #222222,2px 0 0 #222222,-1px -2px 0 #222222,1px -2px 0 #222222,-1px 2px 0 #222222,1px 2px 0 #222222,-2px -1px 0 #222222,2px -1px 0 #222222,-2px 1px 0 #222222,2px 1px 0 #222222
